.team-list {
  display: flex;
}
.team-item {
  width: calc((100% - 3 * var(--card-set-gap)) / 4);
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-team {
  background-color: var(--secondary-bg-color);
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  fill: var(--primary-icon-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.icon-team {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}
