body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}

.section-text,
.address-text {
  line-height: 1.71;
}

.section-text {
  color: var(--secondary-text-color);
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
